.vs/
bin/
obj/
*.suo
*.csproj.user

/deploy
/publish

!/Hacking-INF/App_Data/Info.yaml
/Hacking-INF/App_Data/*


# Only commit repositories.config. The rest of /packages is only a local cache
!/packages/repositories.config
/packages/*

