.vs/
bin/
obj/
*.suo
*.csproj.user

/deploy
/publish

!/Hacking-INF/App_Data/Examples/Info.yaml
/Hacking-INF/App_Data/Examples/
/Hacking-INF/App_Data/WorkingDir/


# Only commit repositories.config. The rest of /packages is only a local cache
!/packages/repositories.config
/packages/*

