.vs/
bin/
obj/
*.suo
*.csproj.user

/deploy
/publish

/Hacking-INF/App_Data/Logs/
/Hacking-INF/App_Data/WorkingDir/
/Hacking-INF/App_Data/Submissions/

/Hacking-INF/App_Data/Examples/**/*.zip
/Hacking-INF/App_Data/Examples/**/logs/
/Hacking-INF/App_Data/Examples/**/text/ccm.md
/Hacking-INF/App_Data/Examples/**/text/*_table.md


# Only commit repositories.config. The rest of /packages is only a local cache
!/packages/repositories.config
/packages/*

/Hacking-INF/Properties/PublishProfiles/default.pubxml.user
/Hacking-INF/App_Data/SecretKey.txt
