<h1>Manage examples</h1>
<div *ngIf="result" class="alert alert-success">
    {{result}}
</div>
<div *ngIf="isError" class="alert alert-danger">
    A error occured. Please see the <a [routerLink]="['/admin-logfiles', 'log']">Logfiles</a>.
</div>

<div class="form-group">
    <label for="example">Git Repository</label>
    <span>{{repository}}</span>
</div>

<button type="button" class="btn btn-primary" (click)="update()">Update</button>
<button type="button" class="btn btn-default" (click)="clearCache()">Clear Cache</button>
