<h1>{{course.Title}}, {{example.Title}}</h1>
<div class="row">
    <div class="col-md-6">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#instruction" aria-controls="instruction" role="tab" data-toggle="tab">Instructions</a></li>
            <li role="presentation"><a href="#compiler" aria-controls="compiler" role="tab" data-toggle="tab">Compiler</a></li>
            <li role="presentation"><a href="#checkproject" aria-controls="checkproject" role="tab" data-toggle="tab">Checkproject</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="instruction">
                <markdown [data]="example.Instruction"></markdown>
            </div>            
            <div role="tabpanel" class="tab-pane" id="compiler">
                <pre>{{example.CompilerOut}}</pre>
            </div>
            <div role="tabpanel" class="tab-pane" id="checkproject">
                <pre>{{example.CheckprojectOut}}</pre>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="src-editor"></div>
        <p>&nbsp;</p>
        <p>
            <button class="btn btn-default">Kompilieren</button>
            <button class="btn btn-primary">Kompilieren &amp; Testen</button>
        </p>
    </div>
</div>