<h1>{{course.Title}}, {{example.Title}}</h1>
<div *ngIf="!user.IsAuthenticated" class="alert alert-warning">
    Warning! You are not authenticated. To get personal statistics and badges you have to login. <a class="btn btn-default" routerLink="/login">Login</a>
</div>
<div class="row">
    <div class="col-md-6">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#instruction" aria-controls="instruction" role="tab" data-toggle="tab">Instructions</a></li>
            <li role="presentation"><a href="#compiler" aria-controls="compiler" role="tab" data-toggle="tab">Compiler</a></li>
            <li role="presentation"><a href="#test" aria-controls="test" role="tab" data-toggle="tab">Tests</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="instruction">
                <markdown [data]="example.Instruction"></markdown>
            </div>            
            <div role="tabpanel" class="tab-pane" id="compiler">
                <pre>{{result.CompileOutput}}</pre>
            </div>
            <div role="tabpanel" class="tab-pane" id="test">
                <pre>{{result.TestOutput}}</pre>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div id="src-editor"></div>
        <p>&nbsp;</p>
        <p>
            <button (click)="compile()" class="btn btn-default">Kompilieren</button>
            <button (click)="test()" class="btn btn-primary">Kompilieren &amp; Testen</button>
        </p>
    </div>
</div>