<h1>Login</h1>
<div class="alert alert-danger" *ngIf="invalidLogin" name="invalidLogin">Login credentials are invalid.</div>
<form ngNoForm (keyup.enter)="login()">
    <div class="form-group">
        <label for="uid">UID</label>
        <input type="text" class="form-control" id="uid" placeholder="UID" required [(ngModel)]="user.UID">
    </div>
    <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="pwd" placeholder="Password" required [(ngModel)]="user.Password">
    </div>    
    <button type="button" class="btn btn-primary" (click)="login()">Login</button>
</form>