body {
    padding-top: 50px;
    padding-bottom: 70px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    background-color: white;
}

.timeElapsed {
    font-size: 20px;
    font-weight: bold;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

.text-monospace {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    white-space: pre-wrap;
}

.text-multiline {
    white-space: pre-wrap;
}

tr.inactive {
    text-decoration: line-through;
}

span.stdin .hljs-number,
span.stdin {
    color: red;
}

pre {
    border: none !important;
    background: initial;
}

#src-editor {
    height: calc(100vh - 240px);
}

.couse-panel.description {
    height: 6em;
}